* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
}

.main {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

h1 {
  font-size: 3rem;
  color: brown;
}
h2 {
  font-size: 1.5rem;
  color: chocolate;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

textarea {
  width: 50vw;
  height: 30%;
  font-size: 20px;
  color: chocolate;
  border: 2px solid brown;
  padding: 10px;
}

button {
  padding: 12px 28px;
  background-color: brown;
  color: white;
  border: none;
  border-radius: 30px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.2s ease-in;
  margin: 10px;
}

button:hover {
  scale: 0.9;
}
