* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  width: 100%;
  height: 100%;
}
.main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  background-color: plum;
  height: 250px;
  width: 400px;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.card span{
  color: blue;
}

.outer {
  height: 12px;
  width: 100%;
  background-color: rgb(224, 224, 224);
  border-radius: 50px;
  overflow: hidden;
}

.inner {
  background-color: black;
  width: 0%;
  height: 100%;
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bottom button {
  padding: 12px 20px;
  background-color: black;
  color: white;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 20px;
}

.bottom button:hover{
  scale: 0.9;
}