* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  background-color: black;
}

main {
  width: 100%;
  height: 100%;
  padding: 20px 0px;
  background: linear-gradient(
    to right bottom,
    rgb(26, 26, 26),
    rgb(30, 30, 30),
    black
  );
}

section {
  width: 350px;
  height: 100%;
  background-color: black;
  border-radius: 10px;
  margin: auto;
}
.all-reels {
  width: 100%;
  height: 100%;
  overflow: auto;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}
.all-reels::-webkit-scrollbar {
  display: none;
}

.reel {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 10px;
  margin-bottom: 20px;
  overflow: hidden;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}
.reel video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.reel .bottom {
  color: white;
  position: absolute;
  bottom: 0;
  padding: 30px 20px;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.948));
  backdrop-filter: blur(2px);
}
.bottom .user {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.bottom .user img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}
.bottom > h3 {
  font-weight: 500;
  font-size: 20px;
}
.bottom .user button {
  padding: 3px 5px;
  background-color: transparent;
  font-size: 12px;
  font-weight: 500;
  border-radius: 5px;
  border: 1px solid white;
  color: white;
  cursor: pointer;
}

.right {
  color: white;
  width: 40px;
  position: absolute;
  bottom: 10%;
  right: 0;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.right i {
  font-size: 25px;
  font-weight: 500;
}
.right h6 {
  font-size: 15px;
  font-weight: 500;
}
