* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
  background-color: black;
}

body {
  background-image: url(https://images.unsplash.com/photo-1763620077359-b16097b07bd3?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwxNnx8fGVufDB8fHx8fA%3D%3D);
  background-size: contain;
}

/* custom variable ,css variable ,css custom property,root variables */

:root {
  --x: 400px;
  --y: 400px;
}

.spotlight {
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle 180px at var(--x) var(--y),
    rgba(255, 255, 255, 0.15) 0%,
    rgba(0, 0, 0, 0.85) 100%
  );
}

.box {
  width: 400px;
  height: 400px;
  border: 1px solid white;
  /* background: linear-gradient(in oklab to left, white,blue,red); */
  /* background: linear-gradient(in hsl to left, white,blue,red); */
  /* background: radial-gradient(150px,red,blue,yellow,pink,purple,white,orange,green); */
  /* background: radial-gradient(300px at 10px 250px,red,blue);  */
}
