* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

@property --neon {
  syntax: "<color>";
  initial-value: rgb(255, 0, 123);
  inherits: false;
}

@property --rotate {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes rotation {
  from {
    --rotate: 0deg;
  }
  to {
    --rotate: 360deg;
  }
}

@keyframes neoncycle {
  0% {
    --neon: rgb(255, 0, 123);
  }
  25% {
    --neon: rgb(57, 255, 20);
  }
  50% {
    --neon: rgb(255, 255, 0);
  }
  75% {
    --neon: rgb(0, 200, 255);
  }
  100% {
    --neon: rgb(255, 0, 123);
  }
}

.card {
  max-width: 300px;
  padding-inline: 10px;
  padding-bottom: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 15px;
  background: linear-gradient(black) padding-box,
    conic-gradient(from var(--rotate), black, var(--neon), black)
      border-box;
  border: 2px solid white;
  transition: all 0.3s linear;
}

.card:hover {
  box-shadow: 0 0 50px var(--neon);
  animation: rotation 3s infinite, neoncycle 4s linear infinite;
  border: 5px solid transparent;
  color: var(--neon);
  text-shadow: 0 0 10px var(--neon);
}
