* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

@property --rotate {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes rotation {
  from {
    --rotate: 0deg;
  }
  to {
    --rotate: 360deg;
  }
}

.card {
  max-width: 300px;
  padding-inline: 10px;
  padding-bottom: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 15px;
  background: linear-gradient(black) padding-box,
    conic-gradient(from var(--rotate), black, rgb(255, 0, 123), black)
      border-box;
  border: 2px solid white;
  transition: all 0.3s linear;
}

.card:hover {
  box-shadow: 0 0 50px rgb(255, 0, 123);
  animation: rotation 3s infinite;
  border: 5px solid transparent;
  color: rgb(255, 0, 123);
  text-shadow: 0 0 10px rgb(255, 0, 123);
}
