* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,html{
  width: 100%;
  height: 100%;
}
.main{
  width: 100%;
  height: 100%;
  background-color: black; 
}
.main{
  display:flex;
  justify-content: center;
  align-items: center;
}
p{
  font-size: 100px;
  color: green;
}